<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymleaf.org" >
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EventNews | Découvrez les meilleures événements 2023</title>

    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="bgimg">
      <div class="topleft">
        <p>Event News</p>
      </div>
      <div class="middle">
        <h1>COMING SOON</h1>
        <hr>
        <p>35 days left</p>
      </div>
      <div class="bottomleft">
        <p>Under Construction</p>
      </div>
    </div>
  </body>
</html>
